body{
font-family: Yu Gothic UI;
color: rgb(25,55,29); 
background-color: white;
margin:0%;
padding:0%;
}
a{
text-decoration: none;
color: rgb(25,55,29); 
}
a:hover{
font-weight: bold;
}
/*--------------------------------------------------------------*/
.encabezado{
font-size: 12;
width: 100%;
background-color: white;
top: 0%;
position:fixed;
padding-bottom:3%;
}
.columna_izquierda{
padding-left: 2%;
width: 80%;
float: left;
background-color: white;
}
.columna_derecha{
padding-right: 0%;
width: 18%;
float: left;
text-align: center;
background-color: white;
}
.menu{
width: 100%;
background-color: rgb(25,55,29);
top:6%;
position:fixed;
overflow:hidden;
}
.menu_line{
width:20%;
float: left;
padding-top:0%;
}
.menu_line_2{
width:80%;
float: right;
text-align: center;	/*alinea todo el texto que hay dentro de menu_line_2 dentro de su elemento (es decir, dentro del porcentaje de pantalla que le corresponde)*/
padding-top:2.5%;
}
.logo{
float: left;
padding-left:20%;
}
.menu_item{
color: white;
padding-left:5%;
}
.laalmazara{
margin: 0%;
padding: 0%;
text-align: center;
}
.logo_div{
text-align: center;
}
.imagen_logo{
max-width:30%;
max-height:30%;
min-width:5%;
min-height:5%;
padding-top:14%;
}
.laalmazara1_div{
width:100%;
background-color: white;
}
.imagen_laalmazara1{
max-width:100%;
}
.laalmazara_texto_1{
font-size: 20;
width:90%;
padding-left:5%;
padding-right:5%;
padding-top:2%;
padding-bottom:2%;
text-align:center;
}
.laalmazara2_div{
width:100%;
}
.imagen_laalmazara2{
max-width:100%;
}
.laalmazara_texto_2{
font-size: 20;
width:90%;
padding-left:5%;
padding-right:5%;
padding-top:2%;
padding-bottom:2%;
text-align:center;
}
.laalmazara3_div{
width:100%;
}
.imagen_laalmazara3{
max-width:100%;
}
.productos_titulo_div_ext{
width: 100%;
height: 14%;
background-color: rgb(25,55,29);
/*background-color: white;*/
margin-top: 0%;
margin-bottom: 2%;
padding: 0%;
}
.titulo_productos{
color: white;
/*color:rgb(25,55,29);*/
text-align: center;
margin-top:0%;
padding-top:2%;
}
.productos_table{
padding: 0%;
width: 100%;
height: 50%;
text-align: center;
position:relative;
z-index:-1;
}
.imagen_botella{
max-width:60%;
min-width:5%;
overflow:hidden;
}
.imagen_garrafa{
max-width:60%;
min-width:5%;
}
.div_productos3{
width: 100%;
text-align: center;
margin-top: 5%;
margin-bottom: 5%;
/*background-color: rgb(25,55,29);*/
}
.div_instalaciones{
width: 100%;
height: 105%;
background-color: rgb(25,55,29);
text-align:center;
}
.titulo_instalaciones{
color: rgb(25,55,29);
text-align: center;
background-color: white;
padding-top:0%;
}
.texto_inst{
color: white;
}
.instalaciones_table{
padding: 0%;
width: 100%;
height: 50%;
text-align:center;
z-index:-1;
}
.recogida_table{
padding: 0%;
width: 100%;
text-align: center;
position:relative;
z-index:-1;
}
.div_sostenibilidad{
width:100%;
height:95%;
text-align:center;
background-image: url("fotos/sostenibilidad_v2.jpg");
background-size: 100%
}
.imagen_sostenibilidad{
max-width:100%;
}
.titulo_sostenibilidad{
padding-left:5%;
padding-right:5%;
}
.div_contacto{
width:100%;
text-align:center;
}
.titulo_contacto{
color: white;
text-align: center;
background-color: rgb(25,55,29);
padding-top:0%;
}
.contacto_table{
padding: 0%;
width: 100%;
text-align: center;
position:relative;
z-index:-1;
}
.div_pie{
text-align:center;
width:100%
height:20%;
height:15%;
background-color: rgb(25,55,29);
}
.texto_pie{
color:white;
font-size: 12;
}