body{
font-family: Yu Gothic UI;
color: rgb(25,55,29); 
background-color: white;
margin:0;
padding:0;
}
a{
text-decoration: none;
color: rgb(25,55,29); 
}
a:hover{
font-weight: bold;
}
/*--------------------------------------------------------------*/
.encabezado{
font-size: 12;
width: 100%;
background-color: white;
top: 0%;
position:fixed;
padding-bottom:3%;
}
.columna_izquierda{
padding-left: 2%;
width: 80%;
float: left;
background-color: white;
}
.columna_derecha{
padding-right: 0%;
width: 18%;
float: left;
text-align: center;
background-color: white;
}
.menu{
width: 100%;
background-color: rgb(25,55,29);
top:6%;
position:fixed;
overflow:hidden;
}
.menu_line{
width:30%;
float: left;
padding-top:0%;
}
.menu_line_2{
width:70%;
float: right;
text-align: center;	/*alinea todo el texto que hay dentro de menu_line_2 dentro de su elemento (es decir, dentro del porcentaje de pantalla que le corresponde)*/
padding-top:2.5%;
}
.logo{
float: left;
padding-left:20%;
}
.menu_item{
color: white;
padding-left:5%;
}
.logo_div{
text-align: center;
}
.imagen_logo{
max-width:30%;
max-height:30%;
min-width:5%;
min-height:5%;
padding-top:14%;
}
.laalmazara1_div{
width:100%;
background-color: rgb(200,0,0);
}
.imagen_laalmazara1{
max-width:100%;
}
.laalmazara_texto_1{
font-size: 20;
width:90%;
padding-left:5%;
padding-right:5%;
padding-top:2%;
padding-bottom:2%;
text-align:center;
}
.laalmazara2_div{
width:100%;
}
.imagen_laalmazara2{
max-width:100%;
}
.laalmazara_texto_2{
font-size: 20;
width:90%;
padding-left:5%;
padding-right:5%;
padding-top:2%;
padding-bottom:2%;
text-align:center;

